.Startheader{
    background-color: transparent;
    width: 100%;
    z-index: 20;
    position: fixed;
    top: 0px;
    transition: all .3s;
    padding: 15px 15px;

    .account__box2{
            display: flex;
            justify-content: center;
            align-items: center;
        
            &__link{
            color: #fff;
            text-decoration: none;
            width: 100px;
            height: 35px;
            background-color:transparent;
            margin-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            font-weight: 600;
            transition: .3s all;

            &:hover{
                background-color: #fff;
                color: #262B57;
                font-weight: 600;
            }
        }
    }
    .account__box3{
    display: flex;
    justify-content: center;
    align-items: center;

    &__link{
      color: #262E55;
      text-decoration: none;
      width: 100px;
      height: 35px;
      background-color:#d5bc17;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      font-weight: 600;
      transition: .3s all;

      &:hover{
        background-color: #fff;
        color: #262B57;
        font-weight: 600;
      }
    }
  }
}