<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="shortcut icon" href="/Image/icon/favicon2.png">
<title>Vision</title>
</head>
<body>
    <!-- HEADER START -->
    <header class="Startheader" id="Startheader">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 d-flex align-items-center justify-content-between">
                    <div class="brand d-flex align-items-center">
                        <a href="/" class="header__link">
                            <h3 class="header__link__logo mb-0">Vision Checker</h3>
                        </a>
                        
                    </div>

                    <div class="account__box2">
                        <a class="account__box2__link" href="/start">
                            Start Using
                        </a>
                    </div>
                  
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- HERO START -->
    <section class="starthero col-lg-12" id="starthero">
        <h1 class="starthero__title">Features</h1>
    </section>
    <!-- HERO END -->

    <!-- MAIN START -->
    <section class="main col-lg-12" id="main">
        <div class="main__info">
            <div class="main__info__imgbox">
                <img src="https://cloud.google.com/vision/docs/images/moscow.png" alt="">
            </div>
            <div class="main__info__content">
                <h2 class="main__info__content__title">
                    Landmark detection
                </h2>
                <p>
                    Gives coordinates for the detected entity
                </p>
            </div>
        </div>

        <hr style="margin-top: 160px;">
        
        <div class="main__info" style="margin-top: 200px;">
           
            <div class="main__info__content">
                <h2 class="main__info__content__title">
                    Logo detection
                </h2>
                <p>
                    Provides a textual description of the entity identified, a confidence score, and a bounding polygon for the logo in the file.
                </p>
            </div>

            <div class="main__info__imgbox" style="margin-right: 0px; margin-left: 80px;">
                <img src="https://cloud.google.com/vision/docs/images/logo_annotated.png" alt="">
            </div>
        </div>

        <hr style="margin-top: 160px;">


        <div class="main__info " style="margin-top: 200px;" >
            <div class="main__info__imgbox">
                <img src="https://cloud.google.com/vision/docs/images/shanghai_labels.png" alt="">
            </div>
            <div class="main__info__content">
                <h2 class="main__info__content__title">
                    Label detection
                </h2>
                <p>
                    Provides generalized labels for an image.
                    For each label returns a textual description, confidence score, and topicality rating
                </p>
            </div>
        </div>


    </section>
    <!-- MAIN START -->

         
    <button class="topBtn">
        <i class="fas fa-arrow-up"></i>
    </button>

    <style>
        .topBtn{
        position: fixed;
        bottom: 30px;
        right: 40px;
        font-size: 22px;
        width: 40px;
        height: 40px;
        background-color: #192039;
        border-radius: 5px;
        border: 0px solid transparent;
        color: #fff;
        cursor: pointer;    
        display: none;
        z-index: 5;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .topBtn:hover{
            background-color: #192039;
        }

    </style>


    <section class="Startgrow">
        <h1 class="Startgrow__title">
            Let's start discovering Visioner
        </h1>
        <p class="Startgrow__content">
            Visioner is software that detects objects and faces, performs image recognition,labeling, and text extraction of printed or handwritten text from images.
        </p>
        <a href="/start" class="Startgrow__btn">
            Start Now
        </a>
    </section>

        <!-- =======FOOTER START======= -->
        <footer class="footer" id="footer">
            <div class="container">
                <div class="row">
    
                    <div class="col-lg-3">
                        <h4 class="footer__contact">
                                    Visioner
                        </h4>
                        <p class="footer__contact__p">
                            Visioner is software that detects objects and faces.
                        
                    </div>
    
                    <div cla    ss="col-lg-3">
                        <h4 class="footer__useful">
                            Navigate
                        </h4>
                        <ul class="footer__ul">
                            <li class="footer__ul__li">
                                <i class="fas fa-chevron-right"></i>
                                <a href="/">Features</a>
                            </li>
                            <li class="footer__ul__li">
                                <i class="fas fa-chevron-right"></i>
                                <a href="/about">About Us
                                </a>
                            </li>
                            <li class="footer__ul__li">
                                <i class="fas fa-chevron-right"></i>
                                <a href="#">Technologies used</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="col-lg-3">
                        <h4 class="footer__about">
                            My Social Networks
                        </h4>
                        
                            <div class="footer__about__social-links mt-3">
                            <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
                            </div>
                    </div>
    
                </div>
            </div>
        </footer>
        <div class="footer__end text-center">
            <div class="copyright">
                All Rights Reserved
                </div>
                <div class="credits">
                    Website developed by <a href="" class="credits__link">Juma Jumayev</a>
                </div>
        </div>
        <!-- =======FOOTER END======= -->

<script src="assets/Js/StartPageJs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>