<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/Image/icon/favicon2.png">
    <title>Vision</title>


    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>



</head>
<body>
<!-- HEADER START -->
<header class="Startheader" id="Startheader">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 d-flex align-items-center justify-content-between">
                <div class="brand d-flex align-items-center">
                    <a href="/start" class="header__link">
                        <h3 class="header__link__logo mb-0">Go back</h3>

                    </a>
                    <a href="/test" class="header__link">
                        <h3 class="header__link__logo mb-0">Test</h3>

                    </a>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER END -->

<!-- HERO START -->
<section class="starthero col-lg-12" id="starthero">
    <h1 class="starthero__title">Continue by adding picture</h1>
</section>
<!-- HERO END -->

<!-- MAIN START -->
<section class="main col-lg-12" id="main">
    <div class="main__info">
        <div class="col-md-6 mb-4">

                <div class="file-field">
                    <div class="z-depth-1-half mb-4">
                        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-fluid"
                             alt="example placeholder">
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="btn btn-mdb-color btn-rounded float-left">
                            <form action="/file" method="post" enctype="multipart/form-data">
                                <input type="file" name="myfile"/> <br/><br/>
                                <input type="submit" value="Submit"/>
                            </form>
                        </div>
                    </div>
                </div>

        </div>
        <div class="main__info__content">
            <h2 class="main__info__content__title">
                Landmark detection
            </h2>
            <p>
                Please include a picture where is the visible most known place of the city for example: <strong> Eiffel Tower, Colosseum, Burj Khalifa </strong>
            </p>
        </div>
    </div>

</section>
<!-- MAIN START -->







<!--TEST-->
<div class="container">
    <div class="page-header"><h1>drawHBarChart.js - Bootstrap Bar Chart</h1></div>
    <div class="row">
        <div class="col-sm-5">
            <h3>Sample Data</h3>
            <form class="form-horizontal" role="form"></form>
        </div>
        <div class="col-sm-7">
            <div>
                <h3>Default settings</h3>
                <div id="chart1"></div>
            </div>
            <div>
                <h3>Custom color &amp; label width</h3>
                <div id="chart2"></div>
                <p/>
                <pre><code>{
  labelWidth: 4,
  colors: ['red', 'yellow', 'green', 'blue', 'orange']
}</code></pre>
            </div>
            <div>
                <h3>Custom rgba &amp; max</h3>
                <div id="chart3"></div>
                <p/>
                <pre><code>{
  initAnimation: false,
  max: 5,
  rgbaFrom: [255, 0, 0, 1],
  rgbaTo: [255, 0, 0, .3]
};</code></pre>
            </div>
        </div>
    </div>
<script>
    function drawHBarChart(target, data, params) {
        var $target = $(target);
        if ($target.length === 0) {
            return;
        }

        // default params
        var p = {
            containerClassName: 'bs-bar-chart',  // detect if the container already init.
                                                 // override if you need another class name
            initAnimation: true,
            max: 0,
            xInc: 3,
            labelWidth: 3,                  // bootstrap grid col width (i.e. 3/12)
            rgbaFrom: [66, 139, 202, 1],    // ignore if colors is not null
            rgbaTo: [215, 230, 244, 1],     // ignore if colors is not null
            colors: null
        };

        // set input params
        for (var k in params) {
            p[k] = params[k];
        }

        var firstTime = !$target.hasClass(p.containerClassName);
        $target.addClass(p.containerClassName);

        // sort the data and remove extra items
        data = data.sort(function(a, b) {
            return a.count==b.count?(b.name<a.name?-1:1):(b.count-a.count);
        });
        if (p.max > 0) {
            data = $.grep(data, function(e, i) { return i < p.max && e.count > 0; });
        }
        // find the max x-axis value, if the new value is greater than the chart
        // increase the chart's x-axis max value
        var maxCount = 0;
        var currXMax = $target.data('xaxis-max') || 0;
        for (var i=0 ; i<data.length ; i++) {
            maxCount = Math.max(maxCount, data[i].count);
        }
        if (maxCount > currXMax) {
            currXMax = (maxCount + p.xInc) * 1.0;
            $target.data('xaxis-max', currXMax);
        }
        for (var i=0 ; i<data.length ; i++) {
            var d = data[i];
            var name = d.name;
            var pct = d.count * 100 / currXMax;
            var color;
            if (p.colors) {
                color = p.colors[i % p.colors.length];
            }
            else {
                color = 'rgba(' +
                    Math.round((p.rgbaFrom[0]+(p.rgbaFrom[0]>p.rgbaTo[0]?-1:1)*Math.abs(p.rgbaTo[0]-p.rgbaFrom[0])/(Math.max(p.max,data.length)-1)*i)) + ',' +
                    Math.round((p.rgbaFrom[1]+(p.rgbaFrom[1]>p.rgbaTo[1]?-1:1)*Math.abs(p.rgbaTo[1]-p.rgbaFrom[1])/(Math.max(p.max,data.length)-1)*i)) + ',' +
                    Math.round((p.rgbaFrom[2]+(p.rgbaFrom[2]>p.rgbaTo[2]?-1:1)*Math.abs(p.rgbaTo[2]-p.rgbaFrom[2])/(Math.max(p.max,data.length)-1)*i)) + ',' +
                    (p.rgbaFrom[3]+(p.rgbaFrom[3]>p.rgbaTo[3]?-1:1)*Math.abs(p.rgbaTo[3]-p.rgbaFrom[3])/(Math.max(p.max,data.length)-1)*i) + ')';
            }
            var $bar = $target.find('> div:nth-child(' + (i+1) + ')');
            if (firstTime || $bar.length === 0) {
                var $newbar = $('<div class="row" data-item-id="' + d.id +
                    '" style="margin-top:3px;"><div class="col-sm-' + p.labelWidth + ' chart-name">' + name +
                    '</div><div class="col-sm-' + (12 - p.labelWidth) + '"><div class="progress-bar"' +
                    ' data-percentage="' + pct + '" style="background-color:' + color +
                    ';width:' + (firstTime && p.initAnimation?0:pct) + '%;">&nbsp;</div></div></div>');
                $target.append($newbar);
                if (!firstTime) {
                    $newbar.hide().fadeIn();
                }
            }
            else {
                $bar.find('.progress-bar').css({ 'width': pct+'%' });
                if ($bar.attr('data-item-id') != d.id) {
                    $bar.attr('data-item-id', d.id).find('.chart-name').attr('data-anim-name', name).fadeOut(function() {
                        $(this).html($(this).attr('data-anim-name')).removeAttr('data-anim-name').fadeIn();
                    });
                }
            }
        }
        if (firstTime && p.initAnimation) {
            // animate
            window.setTimeout(function() {
                $target.find('.progress-bar').each(function() {
                    $(this).css({'width':$(this).data('percentage') + '%'});
                });
            }, 0);
        }
        else {
            // removed extra bars (due to the count change to 0)
            var extraBarSel = '> div';
            if (data.length > 0) {
                // jQuery :gt(0) doesn't work so this 'if' is necessary
                extraBarSel += ':gt(' + (data.length - 1) + ')';
            }
            $target.find(extraBarSel).fadeOut(function() { $(this).remove(); });
        }
    }
    // ---------- Demo ----------
    var CHART2_PARAMS = { labelWidth: 4, colors:['red', 'yellow', 'green', 'blue', 'orange'] };
    var CHART3_PARAMS = { initAnimation: false, max:5, rgbaFrom:[255, 0, 0, 1], rgbaTo:[255, 0, 0, .3] };
    // sample data
    var sample = [
        { id:1001, name: 'Basic',       count: 3 },
        { id:1002, name: 'C',           count: 2 },
        { id:1003, name: 'Java',        count: 4 },
        { id:1004, name: 'C#',          count: 0 },
        { id:1005, name: 'Objective-C', count: 0 },
        { id:1006, name: 'PHP',         count: 0 },
        { id:1007, name: 'Python',      count: 1 }
    ];

    $('form').on('click', '[data-role="change"]', function() {
        var $for = $($(this).data('for'));
        $for.val(Math.max(parseInt($for.val(), 10) + parseInt($(this).data('change'), 10), 0)).change();
        return false;
    });
    $('form').on('change', 'input', function() {
        var result = [];
        $('form input').each(function() {
            result.push({ id: $(this).data('choice'), name:$(this).data('choice-name'), count:$(this).val() });
        });
        drawHBarChart('#chart1', result);
        drawHBarChart('#chart2', result, CHART2_PARAMS);
        drawHBarChart('#chart3', result, CHART3_PARAMS);
    });
    $.each(sample, function() {
        $('form').append(
            '<div class="form-group"> \
             <label for="choice-' + this.id + '" class="col-xs-5 control-label">' + this.name + '</label> \
<div class="col-xs-3" style="padding:0;"><input type="number" min="0" class="form-control" data-choice="' + this.id + '"' +
            'data-choice-name="' + this.name + '" id="choice-' + this.id + '" value="' + this.count + '" /></div> \
     <div class="col-xs-4"> \
       <button class="btn btn-primary btn-mini" data-for="#choice-' + this.id + '" data-role="change" data-change="-1">-</button> \
       <button class="btn btn-primary btn-mini" data-for="#choice-' + this.id + '" data-role="change" data-change="1">+</button> \
     </div>');
    })

    drawHBarChart('#chart1', sample);
    drawHBarChart('#chart2', sample, CHART2_PARAMS);
    drawHBarChart('#chart3', sample, CHART3_PARAMS);
</script>
<!--TEST END-->


<button class="topBtn">
    <i class="fas fa-arrow-up"></i>
</button>

<style>
    .topBtn{
        position: fixed;
        bottom: 30px;
        right: 40px;
        font-size: 22px;
        width: 40px;
        height: 40px;
        background-color: #192039;
        border-radius: 5px;
        border: 0px solid transparent;
        color: #fff;
        cursor: pointer;
        display: none;
        z-index: 5;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .topBtn:hover{
        background-color: #192039;
    }

</style>


<!--<section class="Startgrow">-->
<!--  <h1 class="Startgrow__title">-->
<!--    Let's start discovering Visioner-->
<!--  </h1>-->
<!--  <p class="Startgrow__content">-->
<!--    Visioner is software that detects objects and faces, performs image recognition,labeling, and text extraction of printed or handwritten text from images.-->
<!--  </p>-->
<!--  <a href="/start" class="Startgrow__btn">-->
<!--    Start Now-->
<!--  </a>-->
<!--</section>-->

<!-- =======FOOTER START======= -->
<!--<footer class="footer" id="footer">-->
<!--  <div class="container">-->
<!--    <div class="row">-->

<!--      <div class="col-lg-3">-->
<!--        <h4 class="footer__contact">-->
<!--          Visioner-->
<!--        </h4>-->
<!--        <p class="footer__contact__p">-->
<!--          Visioner is software that detects objects and faces.-->

<!--      </div>-->

<!--      <div cla    ss="col-lg-3">-->
<!--        <h4 class="footer__useful">-->
<!--          Navigate-->
<!--        </h4>-->
<!--        <ul class="footer__ul">-->
<!--          <li class="footer__ul__li">-->
<!--            <i class="fas fa-chevron-right"></i>-->
<!--            <a href="/">Features</a>-->
<!--          </li>-->
<!--          <li class="footer__ul__li">-->
<!--            <i class="fas fa-chevron-right"></i>-->
<!--            <a href="/about">About Us-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="footer__ul__li">-->
<!--            <i class="fas fa-chevron-right"></i>-->
<!--            <a href="#">Technologies used</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="col-lg-3">-->
<!--        <h4 class="footer__about">-->
<!--          My Social Networks-->
<!--        </h4>-->

<!--        <div class="footer__about__social-links mt-3">-->
<!--          <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>-->
<!--          <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>-->
<!--          <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
<div class="footer__end text-center">
    <div class="copyright">
        All Rights Reserved
    </div>
    <div class="credits">
        Website developed by <a href="" class="credits__link">Juma Jumayev</a>
    </div>
</div>
<!-- =======FOOTER END======= -->

<script src="assets/Js/StartPageJs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>