<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/Image/icon/favicon2.png">
    <title>Vision</title>


    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>



</head>
<body>
<!-- HEADER START -->
<header class="Startheader" id="Startheader">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 d-flex align-items-center justify-content-between">
                <div class="brand d-flex align-items-center">
                    <a href="/" class="header__link">
                        <h3 class="header__link__logo mb-0">Home</h3>

                    </a>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- HEADER END -->

<!-- HERO START -->
<section class="starthero col-lg-12" id="starthero">
    <h1 class="starthero__title">Landmark detection</h1>
</section>
<!-- HERO END -->

<!-- MAIN START -->
<section class="main col-lg-12" id="main">
    <div class="main__info">
        <div class="main__info__imgbox">
            <img src="/Image/index/question.png" alt="">
        </div>
        <div class="main__info__content">
            <h2 class="main__info__content__title">
                Where this monument might be?
            </h2>
            <p>
                You might have a question in your mind where is this monument and how can you explore this place. Well, you are on the right place.
            </p>
        </div>
    </div>

    <hr style="margin-top: 160px;">

    <div class="main__info" style="margin-top: 200px;">

        <div class="main__info__content">
            <h2 class="main__info__content__title">
                Get extra results with percentage
            </h2>
            <p>
                Provides a textual name of the places  and provides also other possibilities by percentage.
            </p>

        </div>

        <div class="main__info__imgbox" style="margin-right: 0px; margin-left: 80px;">
            <img src="/Image/index/lanmarkresult.png" alt="">
        </div>
    </div>

    <hr style="margin-top: 160px;">


    <div class="main__info " style="margin-top: 200px;" >
        <div class="main__info__imgbox">
            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" alt="">
        </div>
        <div class="main__info__content">
            <h2 class="main__info__content__title">
                Get started
            </h2>
            <p>
                In order to start using just upload picture below and get the results.
            </p>

        </div>
    </div>



    <hr style="margin-top: 160px;">

    <div class="main__info" style="margin-top: 200px;">

        <div class="main__info__content">
            <div class="file-field">

                <div class="d-flex justify-content-center">
                    <div class="btn btn-mdb-color btn-rounded float-left">
                        <form action="/file-landmark" method="post" enctype="multipart/form-data">
                            <input type="file" name="myfile"/> <br/><br/>
                            <input type="submit" class="btn btn-success" value="Submit"/>
                        </form>
                        <p th:text="${status}" class="image-status"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<button class="topBtn">
    <i class="fas fa-arrow-up"></i>
</button>

<style>
    .topBtn{
        position: fixed;
        bottom: 30px;
        right: 40px;
        font-size: 22px;
        width: 40px;
        height: 40px;
        background-color: #192039;
        border-radius: 5px;
        border: 0px solid transparent;
        color: #fff;
        cursor: pointer;
        display: none;
        z-index: 5;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .topBtn:hover{
        background-color: #192039;
    }

</style>

<div class="footer__end text-center">
    <div class="copyright">
        All Rights Reserved
    </div>
    <div class="credits">
        Website developed by <a href="" class="credits__link">Juma Jumayev</a>
    </div>
</div>

<script src="assets/Js/StartPageJs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>