<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="shortcut icon" href="/Image/icon/contact-book-icon-9.ico">
<link rel="stylesheet" href="/css/main.css">
<title>Contact Book</title>
</head>
<body>

    <style>
        body{background-image: url(assets/Image/bg/night-sky-stars-scenery-landscape-21-4K.jpg); object-fit: cover; background-position: center; background-size: cover;}
    </style>
    <!-- HEADER START -->
    <header class="header border-0" id="header" style="background-color: transparent;">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-12 d-flex align-items-center justify-content-between">
                    <div class="brand d-flex align-items-center">
                        
                        <i class="fas fa-address-book mr-2 " style="color: #fff; font-size: 35px;"></i>
                        <a href="users.html" class="header__link">
                            <h1 class="header__link__logo mb-0">Contact Book</h3>
                        </a>
                        
                    </div>
                    <!-- <div class="searchbox">
                        <input type="search" placeholder="Search">
                        <div class="searchbox__icon">
                            <i class="fas fa-search"></i>
                        </div>
                    </div> -->

                    
                    <!-- <div class="account__box">
                        <h5 class="account__box__name mb-0" >
                            Ramal Abaszade
                        </h5>
                        <a href="#" class="account__box__link">
                            <div class="account__box__link__logout">
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                        </a>
                    </div> -->

                    <!-- <div class="account__box2">
                        <a class="account__box2__link" href="#">
                            Sign In
                        </a>
                        <a class="account__box2__link" href="#">
                            Sign up
                        </a>

                    </div> -->
                  
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->
    
    <!-- Sign In Form Start -->
        <section class="signin" id="signin">
            <div class="container">
                <div class="row">
                    <div class="signin__box">
                        <h3 class="signin__box__header">
                            Register
                        </h3>
                        
                        <input class="signin__box__input" type="text " placeholder="Username" required>
                        
                        <input class="signin__box__input" type="text " placeholder="Fullname" required>
                        
                        <input class="signin__box__input" type="text " placeholder="Email" required>
                        
                        <input class="signin__box__input" type="password" placeholder="Password" required>
                        <input  type="submit" class="signin__box__submit" value="SIGN IN"></input>

                        
                        <div class="signin__box__remember d-flex mb-3 justify-content-center align-items-center">
                            
                            <div class="signin__box__remember__input  d-flex justify-content-center align-items-center">
                                <input class="signin__box__remember__input__checkbox" type="checkbox" id="remember" >
                                <label class="signin__box__remember__input__label mt-2 ml-1" for="remember">Remember Me</label>
                            </div>
                            
                            <a class="signin__box__remember__forgot" href="#">Forgot Password</a>
                        </div>

                        <p class="signin__box__or">OR</p>

                        <div class="signin__box__social" >
                            <a href="#">
                                <i class="fab fa-apple"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-google"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-microsoft"></i>
                            </a>
                        </div>
                        
                        <a class="signin__box__signup" href="Signin.html">Do you have an account <b>Sign In</b></a>
                    </div>
                </div>
            </div>
        </section>
    <!-- Sign In Form End -->



<script src="/assets/Js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>